<a href="https://colab.research.google.com/github/furkancftcd/gz-dbt-repository/blob/main/Furkan_%C3%87iftci_1_Load_save_every_format_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Farklƒ± formatlarƒ± y√ºkle ve kaydet

## CSV dosyalarƒ±

Greenweez'de Veri Analisti olarak √ßalƒ±≈üƒ±yorsunuz ve pazarlama ekibinden biri, bazƒ± sorunlar ya≈üadƒ±klarƒ± i√ßin `gwz_orders_samples_other_format.csv` dosyasƒ±nƒ± a√ßmanƒ±za yardƒ±m etmenizi istiyor.

[gwz_orders_samples_other_format.csv](https://drive.google.com/file/d/1yhqMnjAkbSjenpTPZFwkPoeCZY_wfimH/view?usp=drive_link) dosyasƒ±nƒ± colab'a i√ße aktarƒ±n ve `df_orders` veri √ßer√ßevesine y√ºkleyin.

In [ ]:
import pandas as pd
df_orders =pd.read_csv('/content/gwz_orders_samples_other_format.csv')
df_orders

     \tdate_date\torders_id\tcustomers_id\tcountry\tdepartment\ttotal_quantity\ttotal_turnover
0      0\t2019-01-01\t571\t560\tFRANCE\t77.0\t52\t92.71
1      1\t2019-01-01\t287\t282\tFRANCE\t17.0\t19\t97.94
2      2\t2019-01-01\t113\t113\tFRANCE\t50.0\t20\t94.15
3       3\t2019-01-01\t519\t510\tFRANCE\t22.0\t8\t73.78
4       4\t2019-01-01\t224\t222\tFRANCE\t13.0\t2\t27.99
...                                                 ...
9995  9995\t2019-01-13\t10207\t5293\tFRANCE\t44.0\t1...
9996  9996\t2019-01-13\t10155\t9724\tFRANCE\t5.0\t1\...
9997  9997\t2019-01-13\t10151\t9720\tFRANCE\t75.0\t2...
9998  9998\t2019-01-13\t10822\t10365\tFRANCE\t66.0\t...
9999  9999\t2019-01-13\t10638\t10189\tFRANCE\t81.0\t...

[10000 rows x 1 columns]

Bu verilerde bir sorun mu var?
`df_orders`'ƒ± g√∂r√ºnt√ºleyin ve bu sorunu nasƒ±l √ß√∂zebileceƒüinizi √∂ƒürenmek i√ßin [belgelere](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) bakƒ±n.

In [ ]:
df_orders =pd.read_csv('/content/gwz_orders_samples_other_format.csv', sep='\t').drop(columns=["Unnamed: 0"])
df_orders

,date_date,orders_id,customers_id,country,department,total_quantity,total_turnover
0,2019-01-01,571,560,FRANCE,77.0,52,92.71
1,2019-01-01,287,282,FRANCE,17.0,19,97.94
2,2019-01-01,113,113,FRANCE,50.0,20,94.15
3,2019-01-01,519,510,FRANCE,22.0,8,73.78
4,2019-01-01,224,222,FRANCE,13.0,2,27.99
...,...,...,...,...,...,...,...
9995,2019-01-13,10207,5293,FRANCE,44.0,19,77.71
9996,2019-01-13,10155,9724,FRANCE,5.0,1,63.33
9997,2019-01-13,10151,9720,FRANCE,75.0,24,83.47
9998,2019-01-13,10822,10365,FRANCE,66.0,15,39.41
9999,2019-01-13,10638,10189,FRANCE,81.0,11,91.76

3) Verileri d√ºzg√ºn bir ≈üekilde y√ºkledikten sonra, pazarlama ekibinin kullanabileceƒüi yeni bir `gwz_orders_samples_other_format_clean.csv` dosyasƒ±na aktarƒ±n.


<details>
<summary> ƒ∞pucu üîç </summary>
csv dosyasƒ±nƒ±n bir dizin i√ßermesi gerekmez.
Ayrƒ±ca kullanƒ±lan ayƒ±rƒ±cƒ±yƒ± da kontrol etmelisiniz!

</details>

In [ ]:
df_orders.to_csv(
    'gwz_orders_samples_other_format_clean.csv',
    index=False,
    sep=',')
import os
os.listdir("/content")

['.config',
 'gwz_orders_samples_other_format.csv',
 'gwz_orders_samples_other_format_clean.csv',
 'sample_data']

CSV dosyalarƒ± bazen yanƒ±ltƒ±cƒ± olabilir, ancak bu sorunlar Python ile √ß√∂z√ºlebilir!

## Json dosyalarƒ±yla √ßalƒ±≈üma

A≈üaƒüƒ±daki h√ºcreyi √ßalƒ±≈ütƒ±rarak `d` s√∂zl√ºƒü√ºn√º ba≈ülatƒ±n.

In [ ]:
d = {"firstname": "leonardo",
     "lastname": "dicaprio",
     "job": "actor"}

`d` klas√∂r√ºnden `actors.json` adlƒ± bir dosya olu≈üturun. S√∂zdizimi konusunda kafanƒ±z karƒ±≈ütƒ±ysa ders notlarƒ±na bakabilirsiniz.

In [ ]:
import json

with open("actors.json", "w") as f:
  json.dump(d, f)

Yeni `actors.json` dosyasƒ±nƒ± a√ßƒ±n ve yeni bir anahtar `nationality` ekleyin (Leonardo Dicaprio Amerikalƒ±dƒ±r). \
Sonucu aynƒ± dosya adƒ±na kaydedin. Dosyanƒ±zƒ± kontrol edin.

In [ ]:
import json  # JSON ile √ßalƒ±≈ümak i√ßin gerekli
# dosyayƒ± a√ß (okuma modu)
with open("actors.json", "r") as f:
    leonardo = json.load(f)
# milliyeti ekle
leonardo["nationality"] = "American"  # genelde b√ºy√ºk harfle yazƒ±lƒ±r
# dosyayƒ± geri kaydet (yazma modu)
with open("actors.json", "w") as f:
    json.dump(leonardo, f, indent=4)  # okunabilirlik i√ßin

## Excel dosyalarƒ±yla √ßalƒ±≈üma

Bu b√∂l√ºmde, birden fazla


---


restoranƒ±n sahibi olduƒüunuzu hayal edin. ≈ûu anda muhasebenizi Excel'de yapƒ±yorsunuz.

[Excel dosyasƒ±nƒ±](https://docs.google.com/spreadsheets/d/14plrU8ZCEAHyRu0Qzn127azKxjjWFsAn/edit?usp=sharing&ouid=111434424059470547068&rtpof=true&sd=true) indirin ve inceleyin.


Ka√ß tane sayfa var?
Ne t√ºr veriler var?

> **Your Answer Here (Double click)**
ƒ∞ki tane sayfa var. Her iki sayfada aynƒ± s√ºtun adlarƒ± farklƒ± satƒ±r deƒüerleri var.
tarih, ciro(turnover), maliyet(cost), marj(margin) s√ºtunlarƒ± ve deƒüerleri var.

Excel dosyasƒ±nƒ± Google Colab ortamƒ±nƒ±za aktarƒ±n.
Verileri *ilk sayfadan* `df_sales_restaurant_1` DataFrame'e y√ºkleyin.

In [ ]:
import pandas as pd
df_sales_restaurant_1=pd.read_excel("/content/sample_data/restaurants_accountability.xlsx",sheet_name="Restaurant1")
df_sales_restaurant_1

        Date  Turnover  Cost  Margin
0 2021-12-01      1500  1200     300
1 2021-12-02      1200   900     300
2 2021-12-03      1900  1200     700
3 2021-12-04      2300  1500     800
4 2021-12-05      2100  1100    1000


Pandas ile bir Excel dosyasƒ±ndaki t√ºm sayfalarƒ± nasƒ±l listeleyebilirsiniz?




<details>
<summary> ƒ∞pucu üîç </summary>

`pd.ExcelFile()` [belgeleri](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.ExcelFile.html) yardƒ±mcƒ± olabilir ...
</details>

In [ ]:
pd.ExcelFile('/content/sample_data/restaurants_accountability.xlsx').sheet_names

['Restaurant1', 'Restaurant2']


≈ûimdi, *ikinci sayfadaki* verileri `df_sales_restaurant_2` adlƒ± bir veri √ßer√ßevesine y√ºkleyin.




<details>
<summary> ƒ∞pucu üîç </summary>
Eri≈ümek istediƒüiniz sayfayƒ± nasƒ±l se√ßebilirsiniz? ≈û√ºpheniz varsa belgelere veya StackOverflow'a bakƒ±n.
</details>

In [ ]:
df_sales_restaurant_2=pd.read_excel("/content/sample_data/restaurants_accountability.xlsx",sheet_name="Restaurant2")

df_sales_restaurant_2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Date,Turnover,Cost,Margin
3,NaN,NaN,2021-12-01 00:00:00,700,600,100
4,NaN,NaN,2021-12-02 00:00:00,920,540,380
5,NaN,NaN,2021-12-03 00:00:00,810,600,210
6,NaN,NaN,2021-12-04 00:00:00,1000,300,700
7,NaN,NaN,2021-12-05 00:00:00,300,200,100

Bu veri √ßer√ßevesinde olaƒüandƒ±≈üƒ± bir ≈üey fark ettiniz mi? Excel dosyasƒ±ndaki sayfayƒ± tekrar inceleyin ve bu garip formatƒ±n nedenini anlamaya √ßalƒ±≈üƒ±n.

> **Your Answer Here (Double click)**
ƒ∞kinci sayfadaki veriler A1 h√ºcresinden ba≈ülamamaktadƒ±r. Tablo C s√ºtunundan itibaren yer aldƒ±ƒüƒ± i√ßin Pandas ba≈ülƒ±klarƒ± ve verileri kaymƒ±≈ü ≈üekilde okumu≈ütur. Bu durum Excel dosyasƒ±nƒ±n raporlama amacƒ±yla formatlanmasƒ±ndan kaynaklanmaktadƒ±r.

Verileri doƒüru ≈üekilde y√ºklemek i√ßin √∂nceki kod satƒ±rƒ±nƒ±zƒ± deƒüi≈ütirin. \
≈û√ºpheleriniz varsa [belgelere](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) g√∂z atƒ±n.

In [ ]:
df_sales_restaurant_2=pd.read_excel("/content/sample_data/restaurants_accountability.xlsx",sheet_name="Restaurant2",header=3,usecols="C:F")
df_sales_restaurant_2

        Date  Turnover  Cost  Margin
0 2021-12-01       700   600     100
1 2021-12-02       920   540     380
2 2021-12-03       810   600     210
3 2021-12-04      1000   300     700
4 2021-12-05       300   200     100

Her veri √ßer√ßevesine yeni bir `restaurant_id` s√ºtunu ekleyin (restaurant_1 i√ßin id = 1 ve restaurant_2 i√ßin id = 2) ve iki veri √ßer√ßevesini `df_sales` adlƒ± tek bir veri √ßer√ßevesi halinde birle≈ütirin.


ƒ∞ki veri √ßer√ßevesini birle≈ütireceƒüiniz `eksen`e dikkat edin.

In [ ]:
df_sales_restaurant_1["id"] =1
df_sales_restaurant_2["id"] =2
df_sales=pd.concat([df_sales_restaurant_1,df_sales_restaurant_2], axis=0)
df_sales

        Date  Turnover  Cost  Margin  id
0 2021-12-01      1500  1200     300   1
1 2021-12-02      1200   900     300   1
2 2021-12-03      1900  1200     700   1
3 2021-12-04      2300  1500     800   1
4 2021-12-05      2100  1100    1000   1
0 2021-12-01       700   600     100   2
1 2021-12-02       920   540     380   2
2 2021-12-03       810   600     210   2
3 2021-12-04      1000   300     700   2
4 2021-12-05       300   200     100   2

Birle≈ütirilmi≈ü veri √ßer√ßevesini, `All` adlƒ± bir sayfada yeni bir `restaurants_accountability_full.xlsx` dosyasƒ±na aktarƒ±n.

In [ ]:
import pandas as pd

output_filename = "restaurants_accountability_full.xlsx"

with pd.ExcelWriter(output_filename, engine='xlsxwriter', datetime_format='yyyy-mm-dd') as writer:
    df_sales.to_excel(writer, sheet_name="All", index=False)